scikit learn library, lets see how it goes

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
heart_disease = pd.read_csv("heart-disease.csv")

In [3]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# x -> feature matrix
X = heart_disease.drop("target", axis = 1)

# y -> labels
Y = heart_disease["target"]

choose right model and paramenters

In [5]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# keeping default parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.15)

In [7]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
92,52,1,2,138,223,0,1,169,0,0.0,2,4,2
214,56,1,0,125,249,1,0,144,1,1.2,1,1,2
148,44,1,2,120,226,0,1,169,0,0.0,2,0,2
48,53,0,2,128,216,0,0,115,0,0.0,2,0,0
20,59,1,0,135,234,0,1,161,0,0.5,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
129,74,0,1,120,269,0,0,121,1,0.2,2,1,2
239,35,1,0,126,282,0,0,156,1,0.0,2,0,3
87,46,1,1,101,197,1,1,156,0,0.0,2,0,3
85,67,0,2,115,564,0,0,160,0,1.6,1,0,3

In [8]:
x_test.shape

(46, 13)

In [9]:
clf.fit(x_train, y_train);

In [10]:
#  make a prediction

In [11]:
y_preds = clf.predict(x_test)

In [12]:
y_preds

array([1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1], dtype=int64)

In [13]:
y_test

54     1
187    0
18     1
168    0
199    0
9      1
183    0
156    1
94     1
29     1
11     1
163    1
1      1
291    0
298    0
170    0
247    0
282    0
189    0
182    0
39     1
223    0
161    1
52     1
73     1
126    1
77     1
270    0
273    0
0      1
140    1
243    0
218    0
176    0
3      1
30     1
133    1
123    1
233    0
47     1
277    0
268    0
76     1
147    1
132    1
40     1
Name: target, dtype: int64

In [14]:
# evaluate the model

In [15]:
clf.score(x_train, y_train)

1.0

In [16]:
clf.score(x_test, y_test)

0.8913043478260869

In [17]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [18]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.94      0.80      0.86        20
           1       0.86      0.96      0.91        26

    accuracy                           0.89        46
   macro avg       0.90      0.88      0.89        46
weighted avg       0.90      0.89      0.89        46

In [19]:
confusion_matrix(y_test, y_preds)

array([[16,  4],
       [ 1, 25]], dtype=int64)

In [20]:
accuracy_score(y_test, y_preds)

0.8913043478260869

In [21]:
# improve the bloody model

In [22]:
np.random.seed(41)

In [23]:
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimator")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"model accuracy on test set -> {clf.score(x_test, y_test)}")

Trying model with 10 estimator
model accuracy on test set -> 0.8260869565217391
Trying model with 20 estimator
model accuracy on test set -> 0.8913043478260869
Trying model with 30 estimator
model accuracy on test set -> 0.8478260869565217
Trying model with 40 estimator
model accuracy on test set -> 0.8695652173913043
Trying model with 50 estimator
model accuracy on test set -> 0.8913043478260869
Trying model with 60 estimator
model accuracy on test set -> 0.8478260869565217
Trying model with 70 estimator
model accuracy on test set -> 0.8478260869565217
Trying model with 80 estimator
model accuracy on test set -> 0.8260869565217391
Trying model with 90 estimator
model accuracy on test set -> 0.8478260869565217

In [24]:
import pickle

In [25]:
pickle.dump(clf, open("random_forest_model_1.pkl","wb"))

In [26]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8478260869565217

In [27]:
import sklearn
sklearn.show_versions()

System:
    python: 3.9.18 | packaged by conda-forge | (main, Dec 23 2023, 16:29:04) [MSC v.1929 64 bit (AMD64)]
executable: D:\Coding\ml_ztm\sample_project_1\env\python.exe
   machine: Windows-10-10.0.19045-SP0

Python dependencies:
      sklearn: 1.3.0
          pip: 23.3.1
   setuptools: 68.2.2
        numpy: 1.26.3
        scipy: 1.11.4
       Cython: None
       pandas: 2.1.4
   matplotlib: 3.8.0
       joblib: 1.2.0
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: D:\Coding\ml_ztm\sample_project_1\env\Library\bin\mkl_rt.2.dll
         prefix: mkl_rt
       user_api: blas
   internal_api: mkl
        version: 2023.1-Product
    num_threads: 4
threading_layer: intel

       filepath: D:\Coding\ml_ztm\sample_project_1\env\vcomp140.dll
         prefix: vcomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

getting data ready to be used in machine learning

three main things we have to do -:>
1. split data into features and labels, x & y we will call em
2. filling ( called imputing somehow ) or removing missing values
3. converting non numerical values to numerical values : feature encoding

In [28]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [29]:
x = heart_disease.drop("target", axis = 1)

In [30]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [31]:
y = heart_disease.target

In [32]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

splitting data into training and test set

In [33]:
from sklearn.model_selection import train_test_split

In [35]:

x_train, x_test, y_train, y_test = train_test_split(x,y)

In [36]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((227, 13), (76, 13), (227,), (76,))

working with new data baby

In [37]:
car_sales = pd.read_csv("scikit-learn-data/car-sales-extended.csv")

In [38]:
car_sales.shape

(1000, 5)

In [39]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [40]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [41]:
#  split into x,y
x = car_sales.drop("Price", axis = 1)
y = car_sales["Price"]

In [42]:
# split into training and test
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [43]:
# building a model

In [44]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(x_train, y_train)

ValueError: could not convert string to float: 'Toyota'

In [46]:
#  turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder= "passthrough")

transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [47]:
 pd.DataFrame(transformed_x)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [48]:
np.random.seed(42)
x_train, x_test, y_train, y_test = train_test_split(transformed_x, y)

In [49]:
model.fit(x_train, y_train)

RandomForestRegressor()

In [50]:
model.score(x_test, y_test)

0.26971662820358044

Working with missing values

In [72]:
car_sales_missing = pd.read_csv("scikit-learn-data/car-sales-extended-missing-data.csv")

In [55]:
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [64]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [57]:
# convert data to numbers

In [58]:
x = car_sales_missing.drop("Price", axis = 1)
y = car_sales_missing['Price']

In [ ]:
#  turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder= "passthrough")

transformed_x = transformer.fit_transform(x)
transformed_x

In [61]:
# option 1 -> fill missing data with pandas
car_sales_missing['Make'].fillna("missing", inplace = True)

car_sales_missing['Colour'].fillna("missing", inplace= True)

car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace= True)

car_sales_missing["Doors"].fillna(4, inplace = True)

In [63]:
#  removing missing price rows from the data
car_sales_missing.dropna(inplace= True)

In [65]:
x = car_sales_missing.drop("Price", axis = 1)
y = car_sales_missing['Price']

In [67]:
#  turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder= "passthrough")

transformed_x = transformer.fit_transform(car_sales_missing)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

### fill missing values with scikit learn

In [73]:
car_sales_missing.dropna( subset = ['Price'], inplace = True)

In [74]:
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [75]:
x = car_sales_missing.drop('Price', axis = 1)
y = car_sales_missing['Price']

In [76]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [77]:
# fill categorical values with missing, numeric with mean/

In [80]:
cat_imputer = SimpleImputer( strategy = "constant", fill_value = "missing")
door_imputer = SimpleImputer( strategy = "constant", fill_value = 4)
numerical_imputer = SimpleImputer( strategy= "mean")

#  Define columns 
cat_features = ["Make", "Colour"]
door_featres = ["Doors"]
numerical_features = ["Odometer (KM)"]

# create the imputer

imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_featres),
    ("numerical_imputer", numerical_imputer, numerical_features)
])

filled_x = imputer.fit_transform(x)
filled_x

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [81]:
car_sales_filled = pd.DataFrame(filled_x, columns = ["Make", "Color", "Doors", "Odometer (KM)"])

In [82]:
car_sales_filled.head()

     Make  Color Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

In [83]:
car_sales_filled.isna().sum()

Make             0
Color            0
Doors            0
Odometer (KM)    0
dtype: int64

In [85]:
#  turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Color", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder= "passthrough")

transformed_x = transformer.fit_transform(car_sales_filled)
transformed_x

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [86]:
# fit tthe model

In [87]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(transformed_x, y)

In [88]:
model = RandomForestRegressor()

In [89]:
model.fit(x_train, y_train)

RandomForestRegressor()

In [90]:
model.score(x_test, y_test)

0.21020722035944994