scikit learn library, lets see how it goes

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
heart_disease = pd.read_csv("heart-disease.csv")

In [3]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# x -> feature matrix
X = heart_disease.drop("target", axis = 1)

# y -> labels
Y = heart_disease["target"]

choose right model and paramenters

In [5]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# keeping default parameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size= 0.15)

In [7]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
288,57,1,0,110,335,0,1,143,1,3.0,1,1,3
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
146,44,0,2,118,242,0,1,149,0,0.3,1,1,2
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2
28,65,0,2,140,417,1,0,157,0,0.8,2,1,2
207,60,0,0,150,258,0,0,157,0,2.6,1,2,3
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
169,53,1,0,140,203,1,0,155,1,3.1,0,0,3

In [8]:
x_test.shape

(46, 13)

In [9]:
clf.fit(x_train, y_train);

In [10]:
#  make a prediction

In [11]:
y_preds = clf.predict(x_test)

In [12]:
y_preds

array([1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 1], dtype=int64)

In [13]:
y_test

162    1
74     1
285    0
50     1
69     1
81     1
11     1
126    1
200    0
51     1
77     1
107    1
229    0
247    0
48     1
164    1
142    1
163    1
59     1
253    0
85     1
234    0
36     1
195    0
61     1
201    0
206    0
26     1
119    1
5      1
245    0
183    0
122    1
137    1
176    0
224    0
149    1
217    0
104    1
38     1
63     1
67     1
279    0
293    0
157    1
160    1
Name: target, dtype: int64

In [14]:
# evaluate the model

In [15]:
clf.score(x_train, y_train)

1.0

In [16]:
clf.score(x_test, y_test)

0.8913043478260869

In [17]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [18]:
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.82      0.88      0.85        16
           1       0.93      0.90      0.92        30

    accuracy                           0.89        46
   macro avg       0.88      0.89      0.88        46
weighted avg       0.89      0.89      0.89        46

In [19]:
confusion_matrix(y_test, y_preds)

array([[14,  2],
       [ 3, 27]], dtype=int64)

In [20]:
accuracy_score(y_test, y_preds)

0.8913043478260869

In [21]:
# improve the bloody model

In [22]:
np.random.seed(41)

In [23]:
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimator")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"model accuracy on test set -> {clf.score(x_test, y_test)}")

Trying model with 10 estimator
model accuracy on test set -> 0.9130434782608695
Trying model with 20 estimator
model accuracy on test set -> 0.8260869565217391
Trying model with 30 estimator
model accuracy on test set -> 0.8695652173913043
Trying model with 40 estimator
model accuracy on test set -> 0.8913043478260869
Trying model with 50 estimator
model accuracy on test set -> 0.8913043478260869
Trying model with 60 estimator
model accuracy on test set -> 0.9565217391304348
Trying model with 70 estimator
model accuracy on test set -> 0.9130434782608695
Trying model with 80 estimator
model accuracy on test set -> 0.8695652173913043
Trying model with 90 estimator
model accuracy on test set -> 0.8913043478260869

In [24]:
import pickle

In [25]:
pickle.dump(clf, open("random_forest_model_1.pkl","wb"))

In [26]:
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8913043478260869

In [27]:
import sklearn
sklearn.show_versions()

System:
    python: 3.9.18 | packaged by conda-forge | (main, Dec 23 2023, 16:29:04) [MSC v.1929 64 bit (AMD64)]
executable: D:\Coding\ml_ztm\sample_project_1\env\python.exe
   machine: Windows-10-10.0.19045-SP0

Python dependencies:
      sklearn: 1.3.0
          pip: 23.3.1
   setuptools: 68.2.2
        numpy: 1.26.3
        scipy: 1.11.4
       Cython: None
       pandas: 2.1.4
   matplotlib: 3.8.0
       joblib: 1.2.0
threadpoolctl: 2.2.0

Built with OpenMP: True

threadpoolctl info:
       filepath: D:\Coding\ml_ztm\sample_project_1\env\Library\bin\mkl_rt.2.dll
         prefix: mkl_rt
       user_api: blas
   internal_api: mkl
        version: 2023.1-Product
    num_threads: 4
threading_layer: intel

       filepath: D:\Coding\ml_ztm\sample_project_1\env\vcomp140.dll
         prefix: vcomp
       user_api: openmp
   internal_api: openmp
        version: None
    num_threads: 8

getting data ready to be used in machine learning

three main things we have to do -:>
1. split data into features and labels, x & y we will call em
2. filling ( called imputing somehow ) or removing missing values
3. converting non numerical values to numerical values : feature encoding

In [28]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [29]:
x = heart_disease.drop("target", axis = 1)

In [30]:
x.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [31]:
y = heart_disease.target

In [32]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

splitting data into training and test set

In [33]:
from sklearn.model_selection import train_test_split

In [34]:

x_train, x_test, y_train, y_test = train_test_split(x,y)

In [35]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((227, 13), (76, 13), (227,), (76,))

working with new data baby

In [36]:
car_sales = pd.read_csv("scikit-learn-data/car-sales-extended.csv")

In [37]:
car_sales.shape

(1000, 5)

In [38]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [39]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [40]:
#  split into x,y
x = car_sales.drop("Price", axis = 1)
y = car_sales["Price"]

In [41]:
# split into training and test
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [42]:
# building a model

In [43]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model.fit(x_train, y_train)

ValueError: could not convert string to float: 'Toyota'

In [44]:
#  turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder= "passthrough")

transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [45]:
 pd.DataFrame(transformed_x)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [46]:
np.random.seed(42)
x_train, x_test, y_train, y_test = train_test_split(transformed_x, y)

In [47]:
model.fit(x_train, y_train)

RandomForestRegressor()

In [48]:
model.score(x_test, y_test)

0.26971662820358044

Working with missing values

In [49]:
car_sales_missing = pd.read_csv("scikit-learn-data/car-sales-extended-missing-data.csv")

In [50]:
car_sales_missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [51]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [52]:
# convert data to numbers

In [53]:
x = car_sales_missing.drop("Price", axis = 1)
y = car_sales_missing['Price']

In [54]:
#  turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder= "passthrough")

transformed_x = transformer.fit_transform(x)
transformed_x

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

In [55]:
# option 1 -> fill missing data with pandas
car_sales_missing['Make'].fillna("missing", inplace = True)

car_sales_missing['Colour'].fillna("missing", inplace= True)

car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace= True)

car_sales_missing["Doors"].fillna(4, inplace = True)

In [56]:
#  removing missing price rows from the data
car_sales_missing.dropna(inplace= True)

In [57]:
x = car_sales_missing.drop("Price", axis = 1)
y = car_sales_missing['Price']

In [58]:
#  turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder= "passthrough")

transformed_x = transformer.fit_transform(car_sales_missing)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

### fill missing values with scikit learn

In [59]:
car_sales_missing.dropna( subset = ['Price'], inplace = True)

In [60]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [61]:
x = car_sales_missing.drop('Price', axis = 1)
y = car_sales_missing['Price']

In [62]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [63]:
# fill categorical values with missing, numeric with mean/

In [64]:
cat_imputer = SimpleImputer( strategy = "constant", fill_value = "missing")
door_imputer = SimpleImputer( strategy = "constant", fill_value = 4)
numerical_imputer = SimpleImputer( strategy= "mean")

#  Define columns 
cat_features = ["Make", "Colour"]
door_featres = ["Doors"]
numerical_features = ["Odometer (KM)"]

# create the imputer

imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_featres),
    ("numerical_imputer", numerical_imputer, numerical_features)
])

filled_x = imputer.fit_transform(x)
filled_x

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [65]:
car_sales_filled = pd.DataFrame(filled_x, columns = ["Make", "Color", "Doors", "Odometer (KM)"])

In [66]:
car_sales_filled.head()

     Make  Color Doors Odometer (KM)
0   Honda  White   4.0       35431.0
1     BMW   Blue   5.0      192714.0
2   Honda  White   4.0       84714.0
3  Toyota  White   4.0      154365.0
4  Nissan   Blue   3.0      181577.0

In [67]:
car_sales_filled.isna().sum()

Make             0
Color            0
Doors            0
Odometer (KM)    0
dtype: int64

In [68]:
#  turn categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Color", "Doors"]
one_hot = OneHotEncoder()

transformer = ColumnTransformer([("one_hot", one_hot, categorical_features)], remainder= "passthrough")

transformed_x = transformer.fit_transform(car_sales_filled)
transformed_x

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [69]:
# fit tthe model

In [70]:
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(transformed_x, y)

In [71]:
model = RandomForestRegressor()

In [72]:
model.fit(x_train, y_train)

RandomForestRegressor()

In [73]:
model.score(x_test, y_test)

0.21064150925394065

# choosing right estimator

In [74]:
#  GET california housing dataset

In [75]:
from sklearn.datasets import fetch_california_housing

In [76]:
housing = fetch_california_housing()

In [77]:
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [78]:
housing_df = pd.DataFrame(housing["data"], columns= housing["feature_names"])

In [79]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [86]:
housing_df["target"] = housing["target"]

In [87]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [88]:
housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [89]:
# import algo
np.random.seed(6969)

x = housing_df.drop("target", axis = 1)
y = housing_df["target"]

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
x_learn, x_test, y_learn, y_test = train_test_split(x,y)

### bloody practice time baby, yolo this shit

In [92]:
from sklearn.ensemble import RandomForestRegressor

In [93]:
model = RandomForestRegressor()

In [94]:
model.fit(x_learn, y_learn)

RandomForestRegressor()

In [95]:
model.score(x_test, y_test)

0.8029890184738525

In [96]:
from sklearn.linear_model import Ridge

model = Ridge()

model.fit(x_learn, y_learn)

model.score(x_test, y_test)

0.6135533075853842

### classification problem baby

In [97]:
heart_disease = pd.read_csv("scikit-learn-data/heart-disease.csv")

In [98]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [100]:
heart_disease.shape

(303, 14)

### trying linear svc

In [138]:
from sklearn.svm import LinearSVC, LinearSVR
from sklearn.ensemble import RandomForestClassifier

In [139]:
np.random.seed(69420)

In [140]:
x = heart_disease.drop('target', axis = 1)
y = heart_disease['target']

In [141]:
from sklearn.model_selection import train_test_split

In [133]:
x_learn, x_test, y_learn, y_test = train_test_split(x, y)

In [142]:
model1 = LinearSVC()
model2 = LinearSVR()
model3 = RandomForestClassifier()

In [143]:
model1.fit(x_learn, y_learn)
model2.fit(x_learn, y_learn)
model3.fit(x_learn, y_learn)

D:\Coding\ml_ztm\sample_project_1\env\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(
D:\Coding\ml_ztm\sample_project_1\env\lib\site-packages\sklearn\svm\_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(
D:\Coding\ml_ztm\sample_project_1\env\lib\site-packages\sklearn\svm\_classes.py:32: FutureWarning: The default value of `dual` will change from `True` to `'auto'` in 1.5. Set the value of `dual` explicitly to suppress the warning.
  warnings.warn(
D:\Coding\ml_ztm\sample_project_1\env\lib\site-packages\sklearn\svm\_base.py:1242: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

RandomForestClassifier()

In [144]:
model1.score(x_test, y_test)

0.7631578947368421

In [145]:
model2.score(x_test, y_test)

0.5008389334383475

In [146]:
model3.score(x_test, y_test)

0.8421052631578947